@import "../atomos/atomos.scss";

.container {

  position: fixed;
  top: 18%;
  left: 10%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding-bottom: 5%;
  width: 80%;
  height: 70%;
  overflow: hidden;
  overflow-y:scroll;
  background-color: $secondary;
  border-radius: 20px;
}

.container::-webkit-scrollbar {
    display: none;
}

.container-no-results {
  text-align: center;

  margin-top: 5rem;
}
