@import "../atomos/atomos.scss";

.container {

  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 1rem 0;
  width: 80%;
  height: 80%;
  overflow: hidden;
  overflow-y:scroll;
  background-color: $secondary;
  border-radius: 20px;
}

.container::-webkit-scrollbar {
    display: none;
}

.container-no-results {
  text-align: center;

  margin-top: 5rem;
}
