@import "../atomos/atomos.scss";

.Navbar {
  background-color: $primary;
  width:100%;

}

.alinear {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  width:100%;

  padding: 0;
  margin: 0;


  .left {
    display: flex;
    align-items: center;
    padding-left: 3rem;

    width: 15rem;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;


    .cart {
      width: 60%;
    }

  }

  li {
    display: inline;
    max-width: 100px;
    padding-right: 1rem;
  }

  li h3 {
    margin: 0;
    color: white;
    margin-right: 2rem;
  }
}


.navbutton {
  cursor: pointer;
  height: 30px;
  margin: 0.5rem;
}

.navsize {
  width: 600px;
  height: 25px;
  border-radius: 5px;
}


.alinear .left a {
  text-decoration: none;
  color: white;
  font-size: 25px;

  &:hover {
    color: $linkHover;
  }
}


.alinear .right a {
  text-decoration: none;
  color: white;
  font-size: 20px;

  &:hover {
    color: $linkHover;
  }
}


ul {
   list-style-type: none;
}

.logout {
  border: none;
  border-radius: 3px;
  height: 2rem;
  width: 6rem;
  background-color: rgb(174, 195, 227);
}
