@import "../moleculas/moleculas.scss";
@import "./Home.scss";
@import "./Navbar.scss";

@import "./Forms.scss";
@import "./ProductDetails.scss";


body{
    height: 100vh;
    width: 100vw;
    background-color: $terciary;
}

#root{
    height: 100%;
    width: 100%;
}
