@import "../atomos/atomos.scss";

.card {

  position: relative;
  width: 320px;
  height: 600px;
  margin-bottom: 3rem;

  border-radius:20px;
  background-color: rgb(250, 250, 250);

  text-overflow: ellipsis;


  .image{
      width: 100%;
      height: 50%;
      border-radius: 15px 15px 0 0;
  }

  .card-text {
    margin: 0 1rem;
    color: $shadow;


      .h1-text {
        margin: 1rem 0;
      }

      .h2-text {
        font-size: 1.7rem;
        margin: 1rem 0 1.2rem 0;
      }

      .h3-text {
        font-weight: 300;
        margin: 1rem 0;
      }
  }

  &:hover{
      cursor: pointer;
      background-color:white;
      box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
  }

}

// con esto limitamos el número de lineas en cada card
// para que no se desborde cuando los textos son muy largos
.webkit-show-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}
