$primary: rgb(49, 50, 111);
$secondary: rgb(219, 246, 233);
$terciary: rgb(157, 223, 211);
$cuaternary: rgb(255, 201, 60);
$cuaternary-hover: rgb(244, 173, 37);
$cuaternary-active: rgb(244, 185, 30);


a {
  text-decoration: none;
  color: black;
}
