$primary: rgb(22, 30, 84);
$secondary: rgb(219, 246, 233);
$terciary: rgb(184, 241, 231);
$cuaternary: rgb(252, 211, 37);
$cuaternary-hover: rgb(255, 230, 82);
$cuaternary-active: rgb(250, 190, 10);

$shadow: rgb(20, 47, 68);

$box-background: rgb(219, 237, 244);


a {
  text-decoration: none;
  color: black;
}
