.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 5rem;

.page-not-found__title {
  font-size: 3rem;

  margin: 2rem 0;
}

.page-not-found__paragraph {
  font-size: 1.5rem;

  margin: 0;
}
}
