/* atomos: estilos de boton (input, tamaño de letra,logo) */
/* moleculas estrcura general de navbar */
/* organismos: body , media queries */
.App {
  width: 100vw;
  height: 100vh;
}



body {
  margin:0;
  padding: 0;
}

.Navbar{
  background-color: black;
  width:100%;
  height: 60px;
  display: flex;
  
}

.navbutton {
  cursor: pointer;
  height: 30px;
}

.navsize {
  width: 600px;
  height: 25px;
  border-radius: 5px;
}

.alinear {
  display: flex;
  width:100%;
}

.alinear .left {
  flex:90%;
  display: flex;
  align-items: center;
 
  /* background-color: tomato; */
}

.searchbar {
  margin-left: 10%;
  
}

.alinear .left a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}



.alinear .right {
  display: flex;
  align-items: center;
  flex:30%;
  /* background-color: turquoise; */
    justify-content: space-around;
}

.alinear .right a {
  text-decoration: none;
  color: white;
  font-size: 20px;


}

ul {
   list-style-type: none;
}

h3 {
  margin-left: 1%;
}
